<title>Library: Homepage</title>
<h1>Welcome to the campus library</h1>
<br/>
<h2>Get information about books that are available</h2>
<a href="http://127.0.0.1:3000/booklists"><h3>Go by list</h3></a><br>
<a href="http://127.0.0.1:3000/home/ulist"><h3>Look up for availability</h3></a>
<a href="http://127.0.0.1:3000/sign_up"><h3>Sign up</h3></a>
